@using CapaServicios.Servicios
@model CsWeb.Models.CambiarContrasenaViewModel

@{
    ViewBag.Title = "Cambiar contraseña";
    ViewBag.TituloFormulario = "Cambiar contraseña";
    ViewBag.SubTituloFormulario = "La contraseña debe tener mínimo 6 caracteres";
    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.UsuarioId)

        <div class="row">
            <div class="col-sm-6 form-group">
                @Html.LabelFor(model => model.NuevaContrasena, htmlAttributes: new {@class = "col-sm-4 control-label no-padding-right"})
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NuevaContrasena, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.NuevaContrasena, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="col-sm-6 form-group">
                @Html.LabelFor(model => model.ConfirmarNuevaContrasena, htmlAttributes: new {@class = "col-sm-4 control-label no-padding-right"})
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ConfirmarNuevaContrasena, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ConfirmarNuevaContrasena, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <button class="btn btn-primary btn-sm" type="submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @(ArchivoDeRecursos.BotonGuardar)</button>
                    <a href="@Url.Action("Usuarios")" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                        @(ArchivoDeRecursos.BotonCancelar)
                    </a>
                </div>
            </div>
        </div>
    </div>
}


