@using CapaServicios.Servicios
@{
    ViewBag.Title = "Usuario";
    ViewBag.TituloFormulario = "Reporte Usuarios";
}

<div>

    <a href="#" id="btnHerramientasBusqueda" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @(ArchivoDeRecursos.BotonHerramientasBusqueda)
    </a>
    <a href="@Url.Action("ExportarUsuariosExcel")" id="btnExportarExcel" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        Descargar reporte
    </a>

    <div id="divFiltros" style="display: none; margin: 20px 0 0 0">
        @using (Html.BeginForm("ExportarUsuarios", "Usuarios", FormMethod.Get))
        {

            @*<div class="row">
                    <div class="col-sm-4 form-group">
                        @Html.Label("Subregión PDET:")
                        @Html.DropDownList("FiltroRegion", (IEnumerable<SelectListItem>)ViewBag.ListaSubregion, new { @class = "form-control" })

                    </div>
                    <div class="col-sm-4 form-group">
                        @Html.Label("Departamento:")
                        @Html.DropDownList("FiltroDepartamento", new List<SelectListItem>(), htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="col-sm-4 form-group">
                        @Html.Label("Municipio:")
                        @Html.DropDownList("FiltroMunicipio", new List<SelectListItem>(), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>*@

            <div class="row">
                <div class="col-sm-4 form-group">
                    @Html.Label("Perfil de usuario:")
                    @Html.DropDownList("FiltroPerfil", (IEnumerable<SelectListItem>)ViewBag.Perfiles, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @(ArchivoDeRecursos.BotonBuscar)</button>
                        @if (Request.QueryString.HasKeys())
                        {
                            <a href="@Url.Action("ExportarUsuarios")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> @(ArchivoDeRecursos.BotonMostrarTodos)</a>
                        }
                    </div>
                </div>
            </div>

        }

    </div>
    <div id="divGrid" style="margin: 10px 0 10px 0">
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

             cargarDepartamentos();
         //   cargarMunicipios();
        function cargarDepartamentos() {
                $('#FiltroDepartamento').empty();
                var selectedId = $('#FiltroRegion').val();
                var selectedValue = '';
                @{
                    @*if (Model != null)
                    {
                      <text>
                         selectedValue = '@Model.CodDepartamento'
                      </text>
                    }*@
               }
                $.ajax({
                    url: '@Url.Action("ObtenerDepartamentos")',
                    type: 'POST',
                    dataType: 'json',
                    data: { subregion: $('#FiltroRegion').val() },
                    success: function (data) {
                        if (data) {

                            $.each(data, function (i, item) {
                                if (item.Value === selectedValue) {
                                    $('#FiltroDepartamento').append('<option value="' + item.Value + '" selected="selected">' + item.Text + '</option>');
                                } else {
                                    $('#FiltroDepartamento').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                }
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Error recuperando la información.' + ex);
                    }
                });
          }

        function cargarMunicipios() {
            $('#FiltroMunicipio').empty();
            var selectedId = $('#FiltroDepartamento').val();
                var selectedValue = '';
                 @{
                     if (Model != null)
                     {
                        <text>
                            selectedValue = '@Model.CodMunicipio'
                        </text>
                     }
                }
                $.ajax({
                    url: '@Url.Action("ObtenerMunicipios")',
                    type: 'POST',
                    dataType: 'json',
                    data: { codDepartamento: $('#FiltroDepartamento').val(), subregion: $('#FiltroRegion').val() },
                    success: function (data) {
                        if (data) {
                            $.each(data, function (i, item) {
                                if (item.Value === selectedValue) {
                                    $('#FiltroMunicipio').append('<option value="' + item.Value + '" selected="selected">' + item.Text + '</option>');
                                } else {
                                    $('#FiltroMunicipio').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                }
                            });
                        }
                    },

                    error: function (ex) {
                        alert('Error recuperando la información.' + ex);
                    }
                });
          }
        $('#FiltroRegion').change(function () {
            cargarDepartamentos();
        });
        $('#FiltroDepartamento').change(function () {
                cargarMunicipios();
            });

            $('input, select, textarea').on("keypress", function () {
                $input = $(this);
                setTimeout(function () {
                    $input.val($input.val().toUpperCase());
                }, 50);
            });
        $('input, select, textarea').on('keydown', function (e) {
            var keyCode = e.keyCode || e.which;
            if (e.keyCode === 13) {
                e.preventDefault();
               // $('input, select, textarea')[$('input, select, textarea').index(this) + 1].focus();
            }
        });


    </script>
}

@section GridSection {

    <script type="text/javascript">

    jQuery(function ($) {
        var gridSelector = "#grid-table";
        var pagerSelector = "#grid-pager";

        $('#btnHerramientasBusqueda').click(function () {
            $('#divFiltros').slideToggle();
            return false;
        });

        @if (Request.QueryString.HasKeys())
        {
            @: $('#divFiltros').show();
        }

        //resize to fit page size
        $(window).on('resize.jqGrid', function () {
            $(gridSelector).jqGrid('setGridWidth', $(".page-content").width());
        });

        //resize on sidebar collapse/expand
        var parentColumn = $(gridSelector).closest('[class*="col-"]');
        $(document).on('settings.ace.jqGrid', function (ev, eventName) {
            if (eventName === 'sidebar_collapsed' || eventName === 'main_container_fixed') {
                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                setTimeout(function () {
                    $(gridSelector).jqGrid('setGridWidth', parentColumn.width());
                }, 0);
            }
        });

        function updatePagerIcons() {
            var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
            var temp = '.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon';
            $(temp).each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            });
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({ container: 'body' });
            $(table).find('.ui-pg-div').tooltip({ container: 'body' });
        }

        $(document).one('ajaxloadstart.page', function () {
            $(gridSelector).jqGrid('GridUnload');
            $('.ui-jqdialog').remove();
        });



        jQuery(gridSelector).jqGrid({
            height: '100%',
            url: '@Url.Action("ObtenerUsuarios")',
            mtype: 'POST',
            datatype: "json",
            colNames: ['Subregión', 'Departamento', 'Municipio', 'Usuario', 'Nombre',  'Perfil de usuario', 'Activo'],
            colModel: [
                { name: 'Subregion', index: 'Subregion', width: 220, sortable: true },
                { name: 'Departamento', index: 'Departamento', width: 220, sortable: true },
                { name: 'Municipio', index: 'Municipio', width: 220, sortable: true },
                { name: 'NombreUsuario', width: 150, sortable: false },
                { name: 'NombreCompleto', width: 150, sortable: false },
                { name: 'NombrePerfil', width: 120, sortable: false },
                { name: 'Activo', width: 40, sortable: false },
            ],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 30, 50, 100, 500],
            pager: pagerSelector,
            altRows: true,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
            }
        });
        $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size
    });

    </script>
}
