@using CapaDominio.EntidadesNegocio
@model CapaDominio.EntidadesNegocio.DatosGeo

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@Styles.Render("~/Content/assets/cssplantilla")
<div class="row">
    <div class="col-md-3 col-md-offset-1 navmapa">
        Inicio > Localización de proyectos a vigilar<br />
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 titulopag">
    </div>
</div>
<br />
<br />
<div class="page-container">
    <div class="banner1">
        <img src="~/Content/img/riav/banner_localizacion.png" />
    </div>
    <br />
    <br />
</div>
@if (Model != null)
{

    using (Html.BeginForm("Proyectogeo", "Paginas", FormMethod.Get))
    {
        @Html.HiddenFor(model => model.CodMunicipio);

        <div class="amarilloclaro">
            <br />
            <div class="titulocentro col-sm-12 form-group">
                @Model.Municipio
            </div>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <label><b>Extensión:</b></label>
                    @Model.Extension
                </div>
                <div class="col-sm-2">
                    <label><b>Población total:</b></label>
                    @Model.PobTotal
                </div>
                <div class="col-sm-2">
                    <label><b>Población rural:</b></label>
                    @Model.PobRural
                </div>
                <div class="col-sm-2">
                    <label><b>Hombres:</b></label>
                    @Model.PobHombres
                </div>
                <div class="col-sm-2">
                    <label><b>Mujeres:</b></label>
                    @Model.PobMujeres <br />
                </div>
                <div class="col-sm-1">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">

                </div>
                <div class="col-sm-2">
                    <label><b>Indigena:</b></label>
                    @Model.PobIndigena
                </div>

                <div class="col-sm-2">
                    <label><b>Afrodescendiente:</b></label>
                    @Model.PobAfro
                </div>

                <div class="col-sm-2">
                    <label><b>Palenque:</b></label>
                    @Model.PobPalenque
                </div>

                <div class="col-sm-2">
                    <label><b>Raizal:</b></label>
                    @Model.PobRaizal
                </div>

                <div class="col-sm-2">
                    <label><b>Rom:</b></label>
                    @Model.PobRom
                </div>

                <div class="col-sm-1">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <label><b>Veedurias:</b></label>
                    @Model.TotalVeedurías
                </div>
                <div class="col-sm-2">
                    <label><b>Veedurias paz:</b></label>
                    @Model.VeeduriasPaz
                </div>
                <div class="col-sm-2">
                    <label><b>Juntas acción comunal:</b></label>
                    @Model.TotalJuntas
                </div>
            </div>
            <br />
        </div>
        <div class="ibox-title">
            <br />
            <br />
            <div class="row">
                <div class="col-sm-2 form-group">
                </div>
                <div class="col-sm-8">
                    <div id="divGridGF">
                        <table id="grid-table"></table>
                        <div id="grid-pager"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>          }

    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('input, select').on('keydown', function (e) {
                    var keyCode = e.keyCode || e.which;
                    if (e.keyCode === 13) {
                        e.preventDefault();
                        $('input, select, button')[$('input, select, button').index(this) + 1].focus();
                    }
                });

            });
        </script>
    }

    @section GridSection {

        <script type="text/javascript">


        jQuery(function ($) {
                var gridSelector = "#grid-table";
                var pagerSelector = "#grid-pager";

                //resize to fit page size
                //$(window).on('resize.jqGrid', function () {
                //    $(gridSelector).jqGrid('setGridWidth', $(".page-content").width());
                //});
            $(window).resize(function () {
                $targetGrid.setGridWidth($(gridSelector).parent().width()); //perhaps add padding calculation here?
            });
                //resize on sidebar collapse/expand
                var parentColumn = $(gridSelector).closest('[class*="col-"]');
                $(document).on('settings.ace.jqGrid', function (ev, eventName) {
                    if (eventName === 'sidebar_collapsed' || eventName === 'main_container_fixed') {
                        //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                        setTimeout(function () {
                            $(gridSelector).jqGrid('setGridWidth', parentColumn.width());
                        }, 0);
                    }
                });

                function enableTooltips(table) {
                    $('.navtable .ui-pg-button').tooltip({ container: 'body' });
                    $(table).find('.ui-pg-div').tooltip({ container: 'body' });
                }

                $(document).one('ajaxloadstart.page', function () {
                    $(gridSelector).jqGrid('GridUnload');
                    $('.ui-jqdialog').remove();
                });

                function formatUrl(cellValue) {
                     return "<a href='@Url.Action("Ficha")/" + cellValue + "'><u>Ver</u></a>";
                }
                 jQuery(gridSelector).jqGrid({
                    height: '100%',
                    autowidth: true,
                    url: '@Url.Action("ObtenerProyectosgeo", new { Cod=Model.CodMunicipio })',
                    mtype: 'POST',
                     datatype: "json",
                    colNames: ['Municipio','Proyecto', 'Entidad responsable','Ver mas'],
                    colModel: [
                        { name: 'Municipio', index: 'Municipio', width: 100 },
                        { name: 'NombreProyecto', index: 'NombreProyecto', width: 200},
                        { name: 'EntidadResponsable', index: 'Entidadresponsable', width: 100},
                        { name: 'Id', index: 'Id', key: true, formatter: formatUrl, width: 50, align: "center"},
                    ],
               viewrecords: true,
               rowNum: 50,
               rowList: [50,100, 150, 200, 500],
                pager: pagerSelector,
                altRows: true,
                loadComplete: function () {
                var table = this;
                setTimeout(function () {
                updatePagerIcons(table);
                enableTooltips(table);
                }, 0);
                }
                 });
            $(window).triggerHandler('resize.jqGrid');
        });

        </script>
    }

}
else
{
    <div class="amarilloclaro">
        <br />
        <div class="titulocentro col-sm-12 form-group">
            No se encontró ningun proyecto para este municipio.
        </div>
    </div>
}


