@using CapaDominio.EntidadesNegocio
@model CapaDominio.EntidadesNegocio.Proyecto
@using System;
@{
    var viewName = Path.GetFileNameWithoutExtension(VirtualPath);
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@Styles.Render("~/Content/assets/cssplantilla")


<div class="row">
    <div class="col-md-3 col-md-offset-1 navmapa">
        Inicio > Localización de proyectos a vigilar<br />
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 titulopag">
    </div>
</div>
<br />
<br />
<div class="page-container">
    <div class="banner1">
        <img src="~/Content/img/riav/banner_localizacion.png" />
    </div>
    <br />
    <br />
</div>




<form id="frmBuscarProyecto">
    @Html.HiddenFor(model => model.Descripcion)
    @Html.HiddenFor(model => model.ProyectoId)

    <div class="amarilloclaro">
        <br />
        <br />
        <div class="row">
            <div class="titulocentro col-sm-12 form-group">
                Buscador por filtros<br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-15 form-group">
            </div>
            <div class="col-sm-15 form-group">
                @Html.Label("Subregión PDET:")
                @Html.DropDownList("Subregion", (IEnumerable<SelectListItem>)ViewBag.ListaSubregion, new { @class = "form-control", id = "FiltroRegion" })
            </div>
            <div class="col-sm-15 form-group">
                @Html.Label("Departamento:")
                @Html.DropDownList("Departamento", new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "FiltroDepartamento" })
            </div>

            <div class="col-sm-15 form-group">
                @Html.Label("Municipio:")
                @Html.DropDownList("Municipio", new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "FiltroMunicipio" })
            </div>
            <div class="col-sm-15 form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-15 form-group">
            </div>

            <div class="col-sm-6 form-group">
                @Html.Label("Nombre del proyecto:")
                @Html.TextBox("NombreProyecto", null, htmlAttributes: new { @class = "form-control", id = "FiltroNombre" })
            </div>
            <div class="col-sm-15 form-group">
                <br />
                <button class="btn btn-primary btn-sm" type="button" id='startSearch'><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Buscar</button>

            </div>

        </div>
        <br />
        <br />
    </div>
</form>
<div class="ibox-title">
    <br />
    <br />
    <div class="row">
        <div class="col-sm-2 form-group">
        </div>
        <div class="col-sm-8">
            <div id="divGridGF">
                <table id="grid-table"></table>
                <div id="grid-pager"></div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>


<div id="myModal1" class="modal" tabindex="-1">

    <br /> <br /> <br /> <br />
    <div class="row">
        <div class="col-sm-2 form-group">
        </div>
        <div class="col-sm-8 form-group">
            <div class="modal-body">
                <img src="~/Content/img/Riav/modalPr.png" style="max-width: 100%; " background-size: contain; />
            </div>
        </div>
        <div class="col-sm-2 form-group">
        </div>
    </div>
</div>







@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#myModal1').modal('toggle')
            $('#FiltroRegion').change(function () {
                cargarDepartamentos();
            });
            $('#FiltroDepartamento').change(function () {
                cargarMunicipios();
            });
             function cargarDepartamentos() {
                $('#FiltroDepartamento').empty();
                 var selectedId = $('#FiltroRegion').val();
                var selectedValue = '';
                @{
                    if (Model != null)
                    {
                      <text>
                         selectedValue =  @ViewBag.FiltroDepartamento
                      </text>
                    }
               }
                $.ajax({
                    url: '@Url.Action("ObtenerDepartamentos")',
                    type: 'POST',
                    dataType: 'json',
                    data: { subregion: $('#FiltroRegion').val() },
                    success: function (data) {
                        if (data) {

                            $.each(data, function (i, item) {
                                if (item.Value === selectedValue) {
                                    $('#FiltroDepartamento').append('<option value="' + item.Value + '" selected="selected">' + item.Text + '</option>');
                                } else {
                                    $('#FiltroDepartamento').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                }
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Error recuperando la información.' + ex);
                    }
                });
          }

        function cargarMunicipios() {
            $('#FiltroMunicipio').empty();
             var selectedId = $('#FiltroDepartamento').val();
                var selectedValue = '';
                 @{
                     if (Model != null)
                     {
                        <text>
                            selectedValue = @ViewBag.FiltroMunicipio
                        </text>
                     }
                }
                $.ajax({
                    url: '@Url.Action("ObtenerMunicipios")',
                    type: 'POST',
                    dataType: 'json',
                    data: { codDepartamento: $('#FiltroDepartamento').val(), subregion: $('#FiltroRegion').val() },
                    success: function (data) {
                        if (data) {
                            $.each(data, function (i, item) {
                                if (item.Value === selectedValue) {
                                    $('#FiltroMunicipio').append('<option value="' + item.Value + '" selected="selected">' + item.Text + '</option>');
                                } else {
                                    $('#FiltroMunicipio').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                }
                            });
                        }
                    },

                    error: function (ex) {
                        alert('Error recuperando la información.' + ex);
                    }
                });
          }

            $('input, select').on('keydown', function (e) {
                var keyCode = e.keyCode || e.which;
                if (e.keyCode === 13) {
                    e.preventDefault();
                    $('input, select, button')[$('input, select, button').index(this) + 1].focus();
                }
            });
            $('input, select, textarea').on("keypress", function () {
                $input = $(this);
                setTimeout(function () {
                    $input.val($input.val().toUpperCase());
                }, 50);
            })
        });
    </script>
}

@section GridSection {

    <script>
        loadGrid();

        $("#startSearch").click(function () {

     //      $("#grid-table").jqGrid().setGridParam(postdata: $("#frmBuscarProyecto").serialize());
            $("#grid-table").jqGrid('setGridParam',
                {
                   url: '@Url.Action("Proyectosw")',
                    postData: {
                        Municipio: function () { return jQuery("#FiltroMunicipio option:selected").val(); },
                        NombreProyecto: function () { return jQuery("#FiltroNombre").val(); }
                    },
                })
           
            $("#grid-table").trigger("reloadGrid");

        });

        var myReload = function () { $("#grid-table").trigger('reloadGrid'); };

        $("#FiltroMunicipio").change(myReload).keyup(function (e) { keyupHandler(e, myReload, this); });

        function loadGrid() {
             var gridSelector = "#grid-table";
             var pagerSelector = "#grid-pager";

                //resize on sidebar collapse/expand
                var parentColumn = $(gridSelector).closest('[class*="col-"]');
                $(document).on('settings.ace.jqGrid', function (ev, eventName) {
                    if (eventName === 'sidebar_collapsed' || eventName === 'main_container_fixed') {
                        //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                        setTimeout(function () {
                            $(gridSelector).jqGrid('setGridWidth', parentColumn.width());
                        }, 0);
                    }
                });

                function enableTooltips(table) {
                    $('.navtable .ui-pg-button').tooltip({ container: 'body' });
                    $(table).find('.ui-pg-div').tooltip({ container: 'body' });
                }

                $(document).one('ajaxloadstart.page', function () {
                    $(gridSelector).jqGrid('GridUnload');
                    $('.ui-jqdialog').remove();
                });

                function formatUrl(cellValue) {
                    return "<a href='@Url.Action("Ficha")/" + cellValue + "'><u>Ver</u></a>";
                }

                jQuery(gridSelector).jqGrid({
                    height: '100%',
                    autowidth: true,
                    url: '@Url.Action("Proyectosw")',
                    mtype: 'POST',
                    datatype: "json",
                    colNames: ['Municipio', 'Proyecto', 'Entidad responsable', 'Ver mas'],
                    colModel: [
                        { name: 'Municipio', index: 'Municipio', width: 100 },
                        { name: 'NombreProyecto', index: 'NombreProyecto', width: 200 },
                        { name: 'EntidadResponsable', index: 'EntidadResponsable', width: 100 },
                        { name: 'Id', index: 'Id', key: true, formatter: formatUrl, width: 50, align: "center" },
                    ],
                    viewrecords: true,
                    sortorder: "desc",

                    sortable: true,
                    rowNum: 25,
                    rowList: [25,50, 100, 150, 200, 500],
                    pager: pagerSelector,
                    altRows: true,
                    loadComplete: function () {
                        var table = this;
                        setTimeout(function () {
                            updatePagerIcons(table);
                            enableTooltips(table);
                        }, 0);
                    }
                });
          }

            function updatePagerIcons(table) {
                var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
                $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                    if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
                });
            }


    </script>



}



