@using CapaServicios.Servicios

@{
    ViewBag.Title = "PROYECTOS";
}

@using (Html.BeginForm("ExportarProyectos", "Admin", FormMethod.Get))
{
    @Html.AntiForgeryToken()
<h2>Reporte proyectos</h2>
    
<div class="form-vertical">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <a href="#" id="btnHerramientasBusqueda" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @(ArchivoDeRecursos.BotonHerramientasBusqueda)
    </a>
    <a href="@Url.Action("ExportarProyectosExcel")" id="btnExportarExcel" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        Descargar reporte
    </a>
    <div id="divFiltros" style="display: none; margin: 20px 0 0 0">
        <div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    @Html.Label("Subregión PDET:")
                    @Html.DropDownList("FiltroRegion", (IEnumerable<SelectListItem>)ViewBag.ListaSubregion, new { @class = "form-control" })

                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("Departamento:")
                    @Html.DropDownList("FiltroDepartamento", new List<SelectListItem>(), htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-sm-4 form-group">
                    @Html.Label("Municipio:")
                    @Html.DropDownList("FiltroMunicipio", new List<SelectListItem>(), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    @Html.Label("Nombre del proyecto:")
                    @Html.TextBox("FiltroNombre", null, htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("Entidad responsable:")
                    @Html.TextBox("FiltroEntidad", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-4 form-group">
                    @Html.Label("Estado:")
                    @Html.TextBox("FiltroEstado", null, htmlAttributes: new { @class = "form-control" })
                </div>
                @*<div class="col-sm-4 form-group">
            @Html.Label("Punto de Acuerdo de Paz:")
            @Html.DropDownList("FiltroPunto", (IEnumerable<SelectListItem>)ViewBag.ListaPuntos, htmlAttributes: new { @class = "form-control" })

        </div>
        <div class="col-sm-4 form-group">
            @Html.Label("Pilar PDET:")
            @Html.DropDownList("FiltroPilar", (IEnumerable<SelectListItem>)ViewBag.ListaPilar, htmlAttributes: new { @class = "form-control" })
        </div>*@
            </div>
            <div class="row">
                @*<div class="col-sm-4 form-group">
                    @Html.Label("Sector:")
                    @Html.TextBox("FiltroSector", null, htmlAttributes: new { @class = "form-control" })
                </div>*@
               
            </div>


            <div class="row">
                <div class="col-sm-6 form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @(ArchivoDeRecursos.BotonBuscar)</button>
                        @if (Request.QueryString.HasKeys())
                        {
                            <a href="@Url.Action("ExportarProyectos")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> @(ArchivoDeRecursos.BotonMostrarTodos)</a>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="divGridGF" style="margin: 0px 0 0px 0">
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
    </div>
</div>

}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#FiltroRegion').change(function () {
                cargarDepartamentos();
            });
            $('#FiltroDepartamento').change(function () {
                cargarMunicipios();
            });
             function cargarDepartamentos() {
                $('#FiltroDepartamento').empty();
                 var selectedId = $('#FiltroRegion').val();
                var selectedValue = '';
                @{
                    if (Model != null)
                    {
                      <text>
                         selectedValue =  @ViewBag.FiltroDepartamento
                      </text>
                    }
               }
                $.ajax({
                    url: '@Url.Action("ObtenerDepartamentos")',
                    type: 'POST',
                    dataType: 'json',
                    data: { subregion: $('#FiltroRegion').val() },
                    success: function (data) {
                        if (data) {

                            $.each(data, function (i, item) {
                                if (item.Value === selectedValue) {
                                    $('#FiltroDepartamento').append('<option value="' + item.Value + '" selected="selected">' + item.Text + '</option>');
                                } else {
                                    $('#FiltroDepartamento').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                }
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Error recuperando la información.' + ex);
                    }
                });
          }

        function cargarMunicipios() {
            $('#FiltroMunicipio').empty();
             var selectedId = $('#FiltroDepartamento').val();
                var selectedValue = '';
                 @{
                     if (Model != null)
                     {
                        <text>
                            selectedValue = @ViewBag.FiltroMunicipio
                        </text>
                     }
                }
                $.ajax({
                    url: '@Url.Action("ObtenerMunicipios")',
                    type: 'POST',
                    dataType: 'json',
                    data: { codDepartamento: $('#FiltroDepartamento').val(), subregion: $('#FiltroRegion').val() },
                    success: function (data) {
                        if (data) {
                            $.each(data, function (i, item) {
                                if (item.Value === selectedValue) {
                                    $('#FiltroMunicipio').append('<option value="' + item.Value + '" selected="selected">' + item.Text + '</option>');
                                } else {
                                    $('#FiltroMunicipio').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                }
                            });
                        }
                    },

                    error: function (ex) {
                        alert('Error recuperando la información.' + ex);
                    }
                });
          }





            $('input, select').on('keydown', function (e) {
                var keyCode = e.keyCode || e.which;
                if (e.keyCode === 13) {
                    e.preventDefault();
                    $('input, select, button')[$('input, select, button').index(this) + 1].focus();
                }
            });
            $('input, select, textarea').on("keypress", function () {
                $input = $(this);
                setTimeout(function () {
                    $input.val($input.val().toUpperCase());
                }, 50);
            })
        });
    </script>
}
@section GridSection {

    <script type="text/javascript">


        $('#btnHerramientasBusqueda').click(function () {
            $('#divFiltros').slideToggle();
            return false;
        });

        @if (Request.QueryString.HasKeys())
        {
            @: $('#divFiltros').show();

        }
        jQuery(function ($) {
                var gridSelector = "#grid-table";
                var pagerSelector = "#grid-pager";

                //resize to fit page size
                $(window).on('resize.jqGrid', function () {
                    $(gridSelector).jqGrid('setGridWidth', $(".page-content").width());
                });

                //resize on sidebar collapse/expand
                var parentColumn = $(gridSelector).closest('[class*="col-"]');
                $(document).on('settings.ace.jqGrid', function (ev, eventName) {
                    if (eventName === 'sidebar_collapsed' || eventName === 'main_container_fixed') {
                        //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                        setTimeout(function () {
                            $(gridSelector).jqGrid('setGridWidth', parentColumn.width());
                        }, 0);
                    }
                });

                function enableTooltips(table) {
                    $('.navtable .ui-pg-button').tooltip({ container: 'body' });
                    $(table).find('.ui-pg-div').tooltip({ container: 'body' });
                }

                $(document).one('ajaxloadstart.page', function () {
                    $(gridSelector).jqGrid('GridUnload');
                    $('.ui-jqdialog').remove();
                });

                function formatUrl(cellValue) {

                     return "<a href='@Url.Action("Proyecto")/" + cellValue + "'><u>Ver</u></a>";
                }
                 jQuery(gridSelector).jqGrid({
                    height: '100%',
                    autowidth: true,
                    url: '@Url.Action("ObtenerProyectos")',
                    mtype: 'POST',
                    datatype: "json",
                    colNames: ['Subregión','Departamento','Municipio','Proyecto',  'Estado'],
                    colModel: [
                        { name: 'Subregion', index: 'Subregion', width: 220, sortable: true },
                        { name: 'Departamento', index: 'Departamento', width: 220, sortable: true },
                        { name: 'Municipio', index: 'Municipio', width: 220, sortable: true },
                        { name: 'NombreProyecto', index: 'NombreProyecto', width: 220, sortable: false },
                        { name: 'EstadoProyecto', index: 'EstadoProyecto', align: "center", width: 100 },
                    ],
               viewrecords: true,
               rowNum: 50,
               rowList: [50,100, 150, 200, 500],
                pager: pagerSelector,
                altRows: true,
                loadComplete: function () {
                var table = this;
                setTimeout(function () {
                updatePagerIcons(table);
                enableTooltips(table);
                }, 0);
                }
                 });
            $(window).triggerHandler('resize.jqGrid');
        });

    </script>
}
